:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --circle: #E7DE79;
}
body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: var(--body-bg-color);
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "aside main main"
    "aside main main"
    "aside main main"
    "footer footer footer"
    ;
    grid-template-rows: 1fr 2 fr 1 fr;
    grid-template-columns: 400px 1fr;
    color: var(--text-color);
    overflow-x: hidden;
}


main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

a {
    text-decoration:none;
    color: var(--text-color);
}

a:hover {
    color: var(--bg-techs) ;
}

img {
    color: var(--text-color);
}

/*Main ================================*/

.lg-card {
    background-color:var(--bg-cards);
    width:86%;
    height: 80px;
    margin-top: 2.66rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1.33rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.lg-card h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.33rem;
    line-height: 1.66rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.md-card {
    min-width: 41%;
    background-color:var(--bg-cards);
    border-radius: 1.33rem;
    padding: 20px;
    margin-left: 35px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.md-card.second {
    margin-left: 20px;
}

.items-card {
    display: flex;
    justify-content: space-between;
}
.lg-post {
    background-color:var(--bg-cards);
    width:90%;
    margin: 2rem auto;
    border-radius: 1.33rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.lg-post.perfil {
    background-color:var(--bg-cards);
    width: 86%;
    border-radius: 1.33rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2.66rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.lg-post.perfil div h2 {
    font-size: 14px;
    margin-top: 20px;
}

.lg-post.perfil div {
    margin-left: 2.66rem;
}

.lg-post.perfil p {
    font-size: 11px;
}

.lg-post.perfil ul {
    padding-left:0px;
    display: flex;
}

.lg-post.perfil li {
    margin-right: 1.33rem;
    list-style: none;
}

.circle1 {
    color: var(--circle);
}

.md-card p {
    margin: 1.733rem auto;
    font-weight: 300;
}

p {
    font-weight: 300;
}

.circle-img {
    border-radius: 100%;
    object-fit: cover;
    width: 8rem;  
}

/*Lateral ==========================*/

.perfil-aside {
    width: 348px;
    background-color:var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1.33rem;
    margin-top: 2.66rem;
    margin-left: 2.66rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.perfil-aside img {
    margin-top: 2.66rem;
}

.perfil-aside h2 {
    margin-bottom: 0;
}

.perfil-aside h3 {
    margin-bottom: 2.66rem;
    margin-top: 0;
}

.perfil-links {
    min-width: 20%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color:var(--bg-cards);
    margin-top: 1.66rem;
    margin-left: 2.66rem;
    border-radius: 1.33rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 2.66rem;
    padding-bottom: 2.66rem;
    font-size: 11px;
    font-weight: 100;
}

.perfil-links img {
    width: 20px;
    padding-right: 1.66rem;
}

.perfil-links div {
    margin-left: 2rem;
    padding-bottom: 1.33rem;
}

ul li{
    margin-top: 1.2rem;
    margin-bottom: 0.66rem;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.tech h2, .experience h2, .education h2{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-left: 1.33rem;
}

.tech div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2.66rem;
    margin-right: 2.66rem;
}

.badge {
    display: inline-block;
    padding: 0.50em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color:var(--bg-techs);
    margin-bottom: 10px;
    min-width: 60px;
    color: #000000;
    font-style: normal;
    font-size: 10px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.tech,  .experience, .education  {
    width: 348px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color:var(--bg-cards);
    border-radius: 1.33rem;
    margin-top: 1.66rem;
    margin-left: 2.66rem;
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
}

.experience ul, .education ul {
    font-size: 10px;
    font-weight: 100;
}

.experience li, .education li {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}


/*Rodapé ==========================*/

footer {
    display: flex;
    justify-content: center;
}

footer span {
    color: var(--bg-techs);
}

/*Media Queries ==========================*/

@media (min-width: 2484px) {
    .md-card {
        min-width: 42%;
    }
}


@media (max-width: 1569px) {
    .md-card, .md-card.second {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 20px;
        min-width: 89%;
        padding-right: 15px;
    }
    .md-card {
        padding-right: 15px;
    }
    .lg-card.recent {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-right: 18px;
    }
    .lg-post.perfil {
        padding-top:20px;
        padding-right: 15px;
    }
    .lg-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .lg-card {
        width: 77%;
    }
    .md-card {
        padding-bottom: 20px;
        min-width: 80%;
        margin-right: 0px;
        padding-right: 10px;
    }
    .md-card.second {
        margin-left: 32px;
        padding-bottom: 20px;
        min-width: 80%;
        margin-right: 0px;
        padding-right: 44px;
    }
    .lg-card.recent {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .lg-post.perfil {
        margin-top: 20px;
        width: 77%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    .md-card.second:first-child , .md-card.second p{
        padding-left: 20px
    }
}

@media (max-width: 768px) {
    .perfil-aside {
        width: 218px;
    }
    .perfil-aside h2 {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .perfil-links {
        width: 220px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    }
    .perfil-links div {
        margin-left: 10px;
    }
    .perfil-links img {
        padding-right: 10px;
    }
    .tech, .experience, .education {
        width: 219px;
    }
    .tech div  {
        justify-content: center;
    }
    .lg-card.project {
        width: 85%;
        margin-left: 20px;
    }
    .lg-card.recent {
        margin-left: 30px;
        width: 84%;
    }

    body {
        grid-template-rows: 1fr 2 fr 1 fr;
        grid-template-columns: 1fr 2fr;

    }
    .lg-card {
        width: 75%;
        margin-left: 10px;
    }
    .lg-post.perfil {
        width: 83%;
    }

}

@media (max-width: 640px){
    .perfil-aside {
        width: 168px;
    }
    .perfil-aside h2, .perfil-aside h3 {
        font-size:12px;
    }
    .perfil-links span {
        display: none;
    }
    .perfil-links {
        width: 168px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .tech, .experience, .education {
        width: 165px;
    }
    .md-card, .md-card.second {
        min-width: 100%;
    }
    .lg-card.project {
        width: 90%;
    }
    .lg-post.perfil {
        width: 250px;
    }

    .lg-post div {
        margin-left: 0px;
    width: 200px;
    }
    .lg-post.perfil ul {
        padding-left: 0px;
        display: inline;
    }
}

@media (max-width: 425px) {
    .lg-post.perfil {
        width: 225px;
        padding-left: 0px;
    }
    .lg-post.perfil p {
        font-size: 11px;
    }
    .items-card span {
        font-size: 11px;
    }
    .lg-card.recent {
        padding-right: 30px;
    }
    .md-card.second {
        padding-right: 5px;
    }
}

@media (max-width: 375px) {
    .lg-card.project {
        width: 165%;
        margin-left: 10px;
    }
    .md-card.second, .md-card {
        min-width: 191%;
        margin-left: 10px;
    }
    .lg-card.recent {
        width: 161%;
        margin-left: 10px;
    }
    .perfil-aside {
        width: 170px;
        margin-left: 10px;
    }
    .perfil-links{
        margin-left: 10px;
    }
    .tech, .experience, .education {
        margin-left: 10px;
    }
    .lg-post.perfil {
        width: 267px;
        margin-left: 10px;
    }
}